@import 'tailwindcss';
@import './ui/homework/apple-utility-classes.css';

:root {
  --likelion: #ffa500;
}

/* 사용자 정의 변수 활용 */
@theme {
  /* 글자크기 사용자 정의 */
  --text-xxs: 0.625rem;

  /* --*: initial; */
  /* Color 변수 정의 */
  /* --color-*: initial; */
  --color-likelion: var(--likelion);
  --color-likelion-black: #303033;
  --color-likelion-red: #b02c20;
  --color-likelion-green: #58dc76;
  --color-likelion-silver: #f5f5f5;

  /* 웹 폰트(SUIT) 사용자 정의 */
  --font-suit: 'SUIT Variable';

  /* 애니메이션 사용자 정의 */
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* 중단점(Breakpoint) 재정의 */
  --breakpoint-sm: 30rem;
}

@layer components {
  /* @apply 디렉티브 */
  .card {
    @apply flex flex-col gap-2 items-center sm:flex-row sm:gap-4 p-5 border border-gray-400 rounded-2xl;

    img {
      @apply rounded-full w-24 h-24 shrink-0 basis-0;
    }

    figcaption {
      @apply contents sm:block sm:grow sm:space-y-2 md:-order-1;

      p:nth-of-type(1) {
        @apply text-lg font-semibold;
      }

      p:nth-of-type(2) {
        @apply font-medium text-gray-500;
      }

      button {
        @apply rounded-full px-2 py-1 border border-purple-200 text-purple-600;
      }
    }
  }
}

@utility flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
