@import 'tailwindcss';
@import './core/styles/theme-variable.css';

@theme {
  /* SUIT 글꼴 추가 */
  --font-suit: 'SUIT Variable', sans-serif;
}

:root {
  --size: 410px;
}

/* shape-outside 속성을 유틸리티 클래스로 추가 */
@utility shape-circle {
  shape-outside: circle(50%);
}
